spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

cloud:
  aws:
    s3:
      bucket: test-bucket
    Credentials:
      accessKey: test
      secretKey: test