spring:
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  output:
    ansi:
      enabled: always
  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true

springdoc:
  api-docs:
    enabled: true

mailgun:
  api-key: ${MAILGUN_API_KEY} #메일건 사이트에서 발급받은 API 키
  domain: ${MAILGUN_DOMAIN} #사용할 도메인 값
  from: ${MAILGUN_FROM} #임의로 입력하고 뒤에 도메인만 붙여주시면 됩니다! no-reply@devstaion.or.kr 이런식으로요!

jwt:
  secret: ${SECRET_KEY}
  access-token-expiration: 3600 # 1시간
  refresh-token-expiration: 1209600 # 14일

tmap:     #Tmap 대중교통 추천 api 키
  base-url: https://apis.openapi.sk.com
  api-key: ${TMAP_API_KEY}

kakao:    #Kakao map REST API 키
  base-url: https://dapi.kakao.com
  restapi-key: ${KAKAOMAP_API_KEY}

kopis:
  api-key: ${KOPIST_API_KEY}
spotify:
  client-id: ${SPOTIFY_CLIENT_ID}
  client-secret: ${SPOTIFY_CLIENT_SECRET}

oauth:
  kakao:
    client-id: ${KAKAO_REST_API_KEY}   # 카카오 REST API 키
    client-secret: ${KAKAO_CLIENT_SECRET} # 카카오 Client Secret
    redirect-uri: ${KAKAO_REDIRECT_URI} # 카카오 로그인 Redirect URI
  google:
    client-id: ${GOOGLE_CLIENT_ID}   # 구글 클라이언트 아이디
    client-secret: ${GOOGLE_CLIENT_SECRET} # 구글 클라이언트 시크릿
    redirect-uri: ${GOOGLE_REDIRECT_URI} # 구글 로그인 Redirect URI

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET_NAME}
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2