spring:
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true

springdoc:
  api-docs:
    enabled: true

mailgun:
  api-key: ${MAILGUN_API_KEY} #메일건 사이트에서 발급받은 API 키
  domain: ${MAILGUN_DOMAIN} #사용할 도메인 값
  from: ${MAILGUN_FROM} #임의로 입력하고 뒤에 도메인만 붙여주시면 됩니다! no-reply@devstaion.or.kr 이런식으로요!

jwt:
  secret: ${SECRET_KEY}
  access-token-expiration: 3600 # 1시간
  refresh-token-expiration: 1209600 # 14일

spotify:
  client-id: ${SPOTIFY_CLIENT_ID}
  client-secret: ${SPOTIFY_CLIENT_SECRET}